{% extends "base.html" %}
{% block title %} Afficher Employés et Clients {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="align-middle">Employé</th>
						<th class="align-middle">Client</th>
						<th class="align-middle">Adresse</th>
						<th class="align-middle">Téléphone</th>
						<th class="align-middle">Email</th>
						<th class="align-middle">Type Chauffage</th>
						<th class="align-middle">Modèle Chauffage</th>
						<th class="align-middle">Date Installation</th>
						<th class="align-middle">Actions</th>
						<th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('film_add_wtf') }}" role="button">Ajouter</a>
					  </th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <td class="align-middle">
						  {{ row.nom_employer }} {{ row.prenom_employer }}
					  </td>
					  <td class="align-middle">
						  {{ row.nom_client }} {{ row.prenom_client }}
					  </td>
					  <td class="align-middle">{{ row.adresse }}</td>
					  <td class="align-middle">{{ row.telephone }}</td>
					  <td class="align-middle">{{ row.email }}</td>
					  <td class="align-middle">{{ row.type_chauffage }}</td>
					  <td class="align-middle">{{ row.modele_chauffage }}</td>
					  <td class="align-middle">{{ row.date_installation }}</td>

						<td class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('film_update_wtf', id_film_btn_edit_html=row.id_client) }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('film_delete_wtf', id_film_btn_delete_html=row.id_film ) }}" role="button">Delete</a>
					  </td>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td colspan="9" class="text-center">
							Aucun employé, client ou installation trouvé.
						</td>
					</tr>
					<tr>
						<td colspan="9" class="text-center">
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
